html {
    font-family: 'Open Sans';
    font-size: 0.9em;
}

.cabec {
    margin-top: 10px;
    display: block;
    background-color:lightsteelblue;
    padding: 10px;
    border-radius: 3px;
    color: white;
}
.qrcode {
    background-color: rgba(195, 147, 251, 0.863);
    color: white;
}

.fundo {
    height: 100vh;
    background-image: url("../assets/background-1.jpg");
    background-size: 100% 100%;
  }